.page-header-ultra-small{
    min-height: 40vh;
    max-height: 250px;
}
.page-header-ultra-small-1{
    min-height: 20vh;
    max-height: 100px;
}

.custom-file-input:lang(es)::before{
    content:"BUSCAR";
}
/*======================================================================Colocar el pie abajo siempre*/
html {
    height: 100%;
    box-sizing: border-box;
}
body{
    min-height: 100%;
    position: relative;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
/*=======================================================================Hover link primary*/
a.text-primary:focus, a.text-primary:hover {
    color: #cc002d !important;
}
/*====================================================================IMAGE SCALE ANIMATION */
.img-container{
    overflow: hidden;
    position: relative;
}
.img-container a img.crop {
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    transition:all .5s ease-in-out;
}
.img-container:hover a img.crop{
    -webkit-transform:scale(1.3);
    transform: scale(1.3);
    transition:all .5s ease-in-out;
}

